---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - dpmock.volcano.sh
  resources:
  - noderesourceconfigurations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dpmock.volcano.sh
  resources:
  - noderesourceconfigurations/finalizers
  verbs:
  - update
- apiGroups:
  - dpmock.volcano.sh
  resources:
  - noderesourceconfigurations/status
  verbs:
  - get
  - patch
  - update
